*{
      font-family: 'Do Hyeon', sans-serif;
      font-size: 18px;
    }
      /* 메인 */
      #main {
        margin: auto;
        margin-top: 10px;
        border-radius: 20px;
        background-color: #F9DDD1;
        text-align: center;
        width: auto;
        height: 710px;
      }

      /* 채팅 영역 */
      #chat {
        height: 80%;
        width: 100%;
        overflow-y: auto;
      }

      /* 접속 알림 */
      .connect {
        width: 90%;
        margin: auto;
        background-color: #EFB9A7;
        text-align: center;
        margin-top: 10px;
      }

      /* 접속 종료 알림 */
      .disconnect {
        width: 90%;
        margin: auto;
        background-color: indianred;
        text-align: center;
        margin-top: 10px;
      }

      /* 내가 보낸 메시지 */
      .me {
        width: auto;
        height:auto;
        margin: auto;
        background-color: lightblue ;
        border-radius: 5px;
        margin-top: 10px;
        margin-left: 170px;
        text-align:center;

        }

      /* 상대방이 보낸 메시지 */
      .other {
        width: auto;
        height: auto;
        margin: auto;
        background-color: white;
        border-radius: 5px;
        margin-top: 10px;
        margin-right: 170px;
        text-align:center;
      }